.toDoList-item {
    position: relative;
}

.toDoList-item-btn:hover {
    cursor: pointer;
}

.toDoList-item-checkbox {
    height: 14px;
    width: 14px;
    margin-right: 10px;
}
.toDoList-item-edit {
    display: inline-block;
}
.toDoList-item-edit > input {
    margin-left: 10px;
    padding: 0 4px;
}

.toDoList-item-icon {
    float: right;
    margin-right: 20px;
    color: #ffcc33;
    line-height: 24px;
}
.toDoList-item-icon:hover {
    cursor: pointer;
    transform: rotate(-45deg);
}
.toDoList-item-btn-wrap {
    position: absolute;
    background: #FFF5EE;
    top: 0;
    right: -10px;
    padding: 4px 20px;
    border: 1px solid #e3e3e3;
    border-radius: 5px;
}
.confirm-mask {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
    background: rgba(0, 0, 0, 0.5);
}
.confirm-wrap {
    background: #fff;
    width: 250px;
    height: 150px;
    border-radius: 5px;
    margin: 200px auto;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}
.confirm-btn {
    margin-top: 60px;
    padding: 4px 10px;
    box-sizing: border-box;
    background: #00aaf1;
    border-radius: 5px;
    font-size: 12px;
    color: #fff;
}
.confirm-btn:hover {
    cursor: pointer;
    background: #43c0f4;
}
.confirm-btn:active {
    background: #00a9f0;
}