.modal-wrap {
    position: absolute;
    background: rgba(105, 105, 105, 0.2);
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.modal-wrap .modal-block {
    width: 35%;
    height: 150px;
    background: #fff;
    margin: 200px auto;
    border-radius: 5px;
    box-shadow: 0 1px 25px #DCDCDC;
    position: relative;;
}
.modal-block .icon-dele {
    position: absolute;
    top: -4px;
    color: #FF4500;
    right: -3px;
}
.modal-block .icon-dele:hover {
    cursor: pointer;
}
.modal-text {
    text-align: center;
    padding: 20px;
    height: 34px;
}
.modal-btns {
    margin-top: 20px;
    text-align: center;
}
.modal-btns > button {
    width: 40px;
    height: 20px;
}
.modal-btns > button:nth-child(2) {
    margin:0 40px;
}
.modal-edit-input {
    width: 258px;
    height: 32px;
    border: 1px solid #e3e3e3;
    border-radius: 5px;
    padding: 0 10px;
    font-size: 14px;
}
.modal-btn {
    background: #00aaf1;
    display: inline-block;
    color: #fff;
    padding: 2px 10px;
    border-radius: 5px;
    margin: 0 10px;
    font-size: 12px;
}
.modal-btn:hover {
    background: #43c0f4;
    cursor: pointer;
}
.modal-btn:active {
    border: none;
    background: #00a9f0;
}
